@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

html {
  background-color: white;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'Cabin', sans-serif;
  /* background-color: #f0ead6; */
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  margin-top: 10vh;
  width: 700px;
  background-color: #ffffff;
  /* border: 1px solid #000000; */
  border-radius: 1vh;
  padding: 7vw;
  font-size: 25px;
  color: black;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.todoForm {
  display: flex;
  justify-content: space-around;
  width: 100%
}

.input-container {
  width: 80%;
  display: flex;
  flex-direction: row;
}

input {
  width: 100%;
  padding: 1vh 1.5vh 1vh 1.5vh;
  margin-top: 5vh;
  border: 3px solid #b0b0b0;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 100vh;
  border-bottom-left-radius: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 400;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  font-size: 20px;
}
input:focus {
  outline: none;
}

button {
  border-top-right-radius: 0.5vh;
  border-bottom-right-radius: 0.5vh;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  transition: 125ms;
  color: black;
  padding: 1vh;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}
button:hover {
  cursor: pointer;
  color: white;
}

.add {
  border: 3px solid #b0b0b0;
  border-top-right-radius: 100vh;
  border-bottom-right-radius: 100vh;
  margin-top: 5vh;
  background-color: rgba(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 1vh 1.5vh 1vh 1vh;
}
.add:hover {
  background-color: rgb(224, 224, 224);
  color: black;
}

.edit {
  border: 3px solid #b0b0b0;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.5vh;
  border-bottom-left-radius: 0.5vh;
  /* background-color: rgb(100, 160, 196); */
}
.edit:hover {
  background-color: rgb(62, 106, 201);
}

.remove {
  border: 3px solid #b0b0b0;
  /* background-color: rgb(101, 119, 131); */
}
.remove:hover {
  background-color: rgb(216, 77, 77);
}

.allTodos {
  list-style: none;
  margin: 0;
  padding: 2vh 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.singleTodo {
  border-radius: 1vh;
  margin: 0.5vh 0;
  /* background-color: rgb(129, 194, 255); */
  padding: 1vh;
  padding-left: 2vh;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
  color: black;
  align-items: center;
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff1f1, #fff2ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.todoText {
  /* Puts everything to the right, 0.5 would put it in the middle instead. */
  flex: 1;
  max-width: 65%;
}